<!-- sales-table.component.html -->
<div class="table-responsive bg-white p-3 rounded shadow-sm">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>No.</th>
        <th>Product Name</th>
        <th>Customer</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Mode</th>
        <th>Date</th>
        @if (isAdmin()) {
        <th>Action</th>
        }
      </tr>
    </thead>
    <tbody>
    @if (processedSales.length>1) {
      @for (sale of processedSales; track $index) {
      <tr>
        <td>{{$index+1}}</td>
        <td>{{sale.productName}}</td>
        <td>{{sale.customerName}}</td>
        <td>{{sale.quantity}}</td>
        <td>GHC {{addCommas(sale.totalAmount)}}</td>
        <td>{{sale.paymentMode}}</td>
        <td>{{sale.date}}</td>
        @if (isAdmin()) {
          <td>
            <button class="btn btn-danger btn-sm ms-2" (click)="onDeleteSale(sale.saleId, sale.productCode)">
              <i class="fas fa-trash"></i>
            </button>
            <button class="btn btn-primary btn-sm ms-2" (click)="onEditSale(sale)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        }
      </tr>
      }
      <!-- Totals row -->
      <tr class="table-dark fw-bold">
        <td colspan="3">Totals</td>
        <td>{{calculateTotalQuantity()}}</td>
        <td>GHC {{addCommas(calculateTotalAmount())}}</td>
        <td colspan="2"></td>
        @if (isAdmin()) {
        <td></td>
        }
      </tr>
    } @else {
      <tr>
        <td colspan="8" class="text-center">No sales data available</td>
      </tr>
    }
    </tbody>
  </table>

  
</div>

<!-- Edit Modal -->
@if (selectedSaleItem) {
<div class="modal fade" id="editSaleModal" tabindex="-1" aria-labelledby="editSaleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editSaleModalLabel">Edit Sale</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input [(ngModel)]="selectedSaleItem.sellingPrice" type="number" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input [(ngModel)]="selectedSaleItem.quantity" type="number" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveSaleEdit()">Save</button>
    </div>
  </div>
</div>
</div>
}