
   <app-sidebar></app-sidebar>
   
   <div class="container">
    <div class="profile-header">
        <div class="profile-picture">
            <i class="fas fa-user"></i>
        </div>
        <div class="profile-info">
            <h1>{{user.fullName}}</h1>
            <p><i class="fas fa-briefcase"></i>{{user.role}}</p>
            <button class="edit-button">
                <i class="fas fa-edit"></i> Edit Profile
            </button>
        </div>
    </div>


    <div class="profile-details">
        <div class="detail-group">
            <h2><i class="fas fa-user-circle"></i> Personal Information</h2>
            <div class="detail-row">
                <div class="detail-item">
                    <label><i class="fas fa-user"></i> Full Name</label>
                    <p>{{user.fullName}}</p>
                </div>
                <div class="detail-item">
                    <label><i class="fas fa-envelope"></i> Email</label>
                    <p>{{user.email}}</p>
                </div>
                <div class="detail-item">
                    <label><i class="fas fa-phone"></i> Phone</label>
                    <p>{{user.phoneNumber}}</p>
                </div>
            </div>
        </div>

        <div class="detail-group">
            <h2><i class="fas fa-briefcase"></i> Work Information</h2>
            <div class="detail-row">
                <div class="detail-item">
                    <label><i class="fas fa-id-badge"></i> Position</label>
                    <p>{{user.role}}</p>
                </div>
                <div class="detail-item">
                    <label><i class="fas fa-building"></i> Department</label>
                    <p>Sales</p>
                </div>
                <div class="detail-item">
                    <label><i class="fas fa-calendar-alt"></i>Date of Birth</label>
                    <p>{{user.dateOfBirth}}</p>
                </div>
            </div>
        </div>

        <div class="detail-group">
            <h2><i class="fas fa-map-marker-alt"></i> Address Information</h2>
            <div class="detail-row">
                <div class="detail-item">
                    <label><i class="fas fa-home"></i> Street Address</label>
                    <p>123 Main Street</p>
                </div>
                <div class="detail-item">
                    <label><i class="fas fa-city"></i> City</label>
                    <p>Accra</p>
                </div>
                <div class="detail-item">
                    <label><i class="fas fa-map"></i> Region</label>
                    <p>Greater Accra</p>
                </div>
            </div>
        </div>
    </div>
</div>
